body {
  margin: 70;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-color:#9dc9e8;
}

.avatar {
  border-radius: 50%;
}


.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4b689e;
}

.light-theme {
  color: #0a011b;
  background-color:#bfddf2;
}
.dark-theme {
  color: #f2f2f2;
  background-color: #170e34;
}

function initThemeSelect() {
  const themeSelect = document.getElementById('theme-select');
  themeSelect.addEventListener('change', () => {
    const selectedTheme = themeSelect.value;
    setTheme(selectedTheme);
  });
}

detectTheme();
initThemeSelect();
