body {
    margin: 70;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    background-color:#9dc9e8;
  }
  .light-theme {
    color: #0a011b;
    background-color:#bfddf2;
  }
  .dark-theme {
    color: #f2f2f2;
    background-color: #a17aeb;
  }